body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #eaeaea; 
}

header {
    background-color: #fff;
    padding: 10px 0;
}

.container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

nav ul li {
    margin-left: 20px;
}

nav ul li a {
    color: black; 
    text-decoration: none;
    transition: color 0.3s; 
}

nav ul li a:hover {
    color: #ddd; 
}

#filterInput {
    padding: 10px;
    width: 100%;
    max-width: 400px;
    margin: 20px auto;
    display: block;
    border: 1px solid #ccc; 
    border-radius: 5px;
}

.product-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px;
}

.product {
    background: white; 
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    margin: 10px;
    padding: 20px;
    text-align: center;
    width: 30%;
}

.product img {
    max-width: 100%;
    border-radius: 5px;
}

.product h2 {
    color: #333; 
}

.cart-info {
    background-color: white;
    padding: 20px;
    margin: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

#cartCount {
    font-weight: bold;
}

#cartItems {
    list-style: none;
    padding: 0;
}

#totalPrice {
    font-weight: bold;
}

.checkout-button {
    background-color: white; 
    color: #333; 
    border: 2px solid #ccc;
    border-radius: 3px;
    padding: 10px 15px;
    cursor: pointer;
    transition: background-color 0.3s, box-shadow 0.3s; 
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); 
    margin-top: 10px;
}

.checkout-button:hover {
    background-color: #f5f5f5; 
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); 
}

footer {
    background-color: #333; 
    color: white;
    text-align: center;
    padding: 10px 0;
    position: relative;
    bottom: 0;
    width: 100%;
}
